{
    "BasedOnStyle"                                  : "Google",
    "Language"                                      : "Cpp",
    "ColumnLimit"                                   : 120,
    "Standard"                                      : "Auto",
    "TabWidth"                                      : 2,
    "UseTab"                                        : "Never",
}

