# https://git-scm.com/docs/gitattributes
# git ls-files --eol

# Normalize all line endings
*	text=auto

# Ensure shell scripts use LF line endings
*.awk text eol=lf
*.sh text eol=lf
*.bash text eol=lf
*.zsh text eol=lf
sourcetool text eol=lf

# Ensure git config gile use LF line endings
.gitconfig text eol=lf

# Ensure python scripts use LF line endings
*.py text eol=lf

# Ensure batch scripts use CRLF line endings
*.cmd text eol=crlf
*.ps1 text eol=crlf
