{
  "overrides": [
    {
      "files": "tools/vscode/settings.json",
      "options": {
        "parser": "json5",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "all"
      }
    }
  ]
}
